<div class='header'>
  <div class='header-title'>
    自分が行うべき手続きについて把握して、金額が分かる箇所は入力しましょう
  </div>
  <div class='precautions-when-inputting'>
    金額は半角数字で入力すること！！
  </div>
</div>

<div class='main'>
  <%= form_with model: @living_cost, local: true do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>

    <!-- 大項目 生活費 -->
    <div class='major-cost'>
      <h2 class='costs-title'>生活費について</h2>

        <!-- 中項目 -->
        <div class='mediam-cost'>
          <!-- 小項目 -->
          <div class='sub-cost'>
            <!-- 何について書くのか -->
            <div class='cost-title'><span>食費</span></div>
            <!-- 生活費支払額-->
            <div class='payment'>
              <span>支払額</span>
              <span class="cost-yen">(¥/月)</span>
              <%= f.text_field :food_cost, class:"price-input", id:"food-cost", placeholder:"例）10000" %>
            </div>
            <!-- 生活費支払額-->
          </div>
          <!-- 小項目 -->
        </div>
        <!-- 中項目 -->

        <!-- 中項目 -->
        <div class='mediam-cost'>
          <!-- 小項目 -->
          <div class='sub-cost'>
            <!-- 何について書くのか -->
            <div class='cost-title'><span>消耗品費</span></div>
            <!-- 生活費支払額-->
            <div class='payment'>
              <span>支払額</span>
              <span class="cost-yen">(¥/月)</span>
              <%= f.text_field :expendables_cost, class:"price-input", id:"expendables-cost", placeholder:"例）10000" %>
            </div>
            <!-- 生活費支払額-->
          </div>
          <!-- 小項目 -->
        </div>
        <!-- 中項目 -->

        <!-- 中項目 -->
        <div class='mediam-cost'>
          <!-- 小項目 -->
          <div class='sub-cost'>
            <!-- 何について書くのか -->
            <div class='cost-title'><span>医療費</span></div>
            <!-- 生活費支払額-->
            <div class='payment'>
              <span>支払額</span>
              <span class="cost-yen">(¥/月)</span>
              <%= f.text_field :medical_cost, class:"price-input", id:"medical-cost", placeholder:"例）10000" %>
            </div>
            <!-- 生活費支払額-->
          </div>
          <!-- 小項目 -->
        </div>
        <!-- 中項目 -->

        <!-- 中項目 -->
        <div class='mediam-cost'>
          <!-- 小項目 -->
          <div class='sub-cost'>
            <!-- 何について書くのか -->
            <div class='cost-title'><span>その他</span></div>
            <!-- 生活費支払額-->
            <div class='payment'>
              <span>支払額</span>
              <span class="cost-yen">(¥/月)</span>
              <%= f.text_field :other_life_costs, class:"price-input", id:"other-life-cost", placeholder:"例）10000" %>
            </div>
            <!-- 生活費支払額-->
          </div>
          <!-- 小項目 -->
        </div>
        <!-- 中項目 -->
    </div>
    <!-- 大項目 生活費 -->

    <div class="save-btn-value">
      <%= f.submit "保存する" ,class:"save-btn" %>
      <%= link_to 'もどる', root_path, class:"back-btn" %>
    </div>
  <% end %>
</div>