このアプリは、転職する時に行う必要がある手続きを管理してくれるアプリケーションです。
このアプリ一つで、転職に必要な手続きや、転職までに必要な費用の見積もりをしてくれます。
早速下記リンクをクリックして、必要な手続きと費用の計算をしよう！！
<ul>
  <li><%= link_to '税金について', new_tax_path, class:"new-btn" %></li>
  <li><%= link_to '生活費について', new_living_cost_path, class:"new-btn" %></li>
  <li><%= link_to '引越しについて', new_move_path, class:"new-btn" %></li>
  <li><%= link_to '光熱費について', new_utility_cost_path, class:"new-btn" %></li>
  <li><%= link_to '車について', new_car_cost_path, class:"new-btn" %></li>
  <li><%= link_to '月額支払いについて', new_monthly_payment_path, class:"new-btn" %></li>
  <li><%= link_to '学費について', new_tuition_path, class:"new-btn" %></li>
</ul>
